<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
  <div class="container">
    <h1 class="navbar-brand mb-0">Angular Defer Loading Demo</h1>
    <p class="mb-0">👇 Scroll down to see components load one by one!</p>
  </div>
</nav>

<div class="container" style="padding-top: 80px;">
  <app-initial-content />

  <app-polling/>
  <app-unit-test />
  
  <div style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="text-muted">Scroll down ⬇️</div>
  </div>

  @defer (on viewport) {
    <app-first-deferred />
  } @placeholder {
    <div class="alert alert-secondary m-4 text-center">
      Scroll here to load first deferred content...
    </div>
  }

  <div style="height: 100vh; display: flex; justify-content: center; align-items: center;">
    <div class="text-muted">Keep scrolling ⬇️</div>
  </div>

  @defer (on viewport) {
    <app-second-deferred />
  } @placeholder {
    <div class="alert alert-secondary m-4 text-center">
      Keep scrolling to load second deferred content...
    </div>
  }

  <div style="height: 50vh;">
  </div>
</div>